.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 75px;
    height: 40px;
}

.nav-items ul{
    font-size: 20px;
    display: flex;
}

.nav-items ul li{
    padding: 10px;
    margin: 0 10px;
    list-style: none;
}



.res-card{
    margin: 10px;
    width: 200px;
   
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.res-card h5{
    overflow-wrap: break-word;
    
}

.res-card:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.res-logo{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.search{
    padding: 10px;
}

.restaurant-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}